*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
/* General styling for the body */
body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('mbsimage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}


.navbar {
    position: fixed;
    top: 10px;
    left: 50px;
    display: flex;
    gap: 10px; /* Space between navbar items */
}

.navbar a {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Light on hover */
}

/* Center the heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
h1:hover{
    -webkit-text-stroke: 2px #fff;
     color: transparent;
}
/* Center the container */
.container {
    width: 100%;
    max-width: 1200px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 15px;
    margin: 0 auto;
    background: transparent;
    border-radius: 10px;
}

/* Style for each form group */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    outline: 0;
}

/* Input styles */
input[type="text"], 
input[type="date"], 
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Label styling */
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

/* Center the submit button in its own row */
.submit-button {
    grid-column: span 4;
    text-align: center;
    margin-top: 5px;
}

.submit-button input[type="submit"] {
    
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    outline: 0;
    font-size: 18px;
    border:1px solid #ddd;
    width: 100%;
}

.submit-button input[type="submit"]:hover {
   
    opacity: 0.8;
    

}

input#submit:active{

opacity: 0.8;

}
.result{
    color: #fff;
    text-align: center; /* Center text */
    font-size: 25px;

}